@import "../../../assets/css/mixins";
.search-detail-wrapper {
  .ais-Hits {
    .ais-Hits-list {
      margin-bottom: 40px;
    }
    .ais-Hits-item {
      padding: 0;
      margin-bottom: 16px;
      border: none;
      box-shadow: none;
      background-color: transparent !important;
      width: calc(25% - 1rem);
      @include large(max-width) {
        width: calc(50% - 1rem);
      }
      > div {
        height: 100%;
      }
    }
  }
}
