@import "../../../assets/css/mixins";
#tv-badge {
  &.tv-badge {
    /*  position: absolute;
    top: 0; */
    right: 10%;
    /*  transform: translateY(-50%); */

    .bg-primary {
      background-color: var(--dark-primary-color) !important;
    }
    &.badge-red {
      .bg-primary {
        background-color: var(--special) !important;
      }
    }
    &.badge-golden {
      .bg-primary {
        background-color: var(--golden) !important;
        color: var(--black);
      }
    }

    .badge {
      border-radius: clmap(3px, 0.5vw, 6px);
      text-align: center;
      padding: 2px clamp(5px, 1vw, 10px);

      @include fontStyle(
        $family: var(--Roboto_Bold),
        /*  $lineHeight: clamp(22px, 2.3vw + 5px, 32px), */ $lineHeight: 2,
        $size: clamp(0.4375rem, 0.3161rem + 0.5178vw, 0.9375rem),
        $color: var(--white),
        $weight: bold
      );
      img {
        margin-right: 6px;
      }
      svg {
        margin-right: 6px;
      }
    }

    &-be-on-top {
      right: 50%;
      top: -18px;
      transform: translateX(50%);
      @include medium(min-width) {
        right: 14%;
      }
    }
    &-small {
      .badge {
        @include fontStyle(
          $family: var(--Roboto_Bold),
          $lineHeight: clamp(10px, 1vw + 6px, 24px),
          $size: clamp(7px, 1vw, 12px),
          $color: var(--white),
          $weight: bold
        );
        padding: 2px clamp(2px, 1vw - 2px, 7px);
      }
    }
  }
  &.tv-badge-simple {
    position: inherit;
    transform: translateY(0);
  }
}
